@import 'styles/_zIndex.scss';
@import 'styles/_mixins.scss';
@import 'styles/_config.scss';
@import 'styles/_color.scss';
@import 'styles/_animations.scss';

$contentMarginRight: 0px;

.Dialogs{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: $zIndex_dialogs;
	
	&.is-open{
		z-index: $zIndex_dialogs_open;
		.Dialogs_black-screen{
			z-index: $zIndex_black_screen_open;
			opacity: 1;
		}
		.Dialogs-content{
			z-index: $zIndex_black_screen_open + 1;
		}
		.Dialogs-taiwan{
			z-index: $zIndex_black_screen_open + 2;
		}
		.Dialogs-close-btn{
			z-index: $zIndex_tw_open + 1;
		}
	}
	&.has-left-tw{
		.Dialogs-taiwan{
			left: $tw_left - 880px;		
			z-index: $zIndex_tw_open;
		}
		.Dialogs-close-btn{
			top: 30px;
    		right: 0px;
    		width: 110px;
    		height: 120px;
		}
		.Dialogs-content{
			background-image: url('../images/dialog_content_2.png');
			// $contentMarginLeft: 220px;
			// width: $App_width - $App_nav_width - $contentMarginLeft -50px;
			// left:$App_nav_width + $contentMarginLeft;
			padding-left: 720px;
		}
	}
	&.has-right-tw{
		.Dialogs-taiwan{
			left: $tw_left + 410px;	
			z-index: $zIndex_tw_open;
		}
		.Dialogs-close-btn{
			top: 200px;
    		right: 330px;
    		width: 100px;
    		height: 85px;
		}
		.Dialogs-content{
			background-image: url('../images/dialog_content_1.png');
			padding-top: 290px;
			padding-right: 620px;
		}
	}
}

$contentMarginTop:280px;
.Dialogs-content{
	@include transAnimation;
	@include fade-in(0.6s);
	$contentHeight: $App_height - ($contentMarginTop * 2);
	position: absolute;
	// background-color: $color_dialog_bg;
	height: $App_height;
	top:0;
	width: $App_width;
	left:0;
    display: flex;
    background-image: url('../images/dialog_content_3.png');
    background-size: $App_width $App_height;
    background-position: 0 0;
    padding-top: $App_header_height + 160px;
    padding-left: $App_nav_width;
	padding-bottom: 250px;
}

.Dialogs-close-btn {
	@include closeBtn;
    top: 185px;
    right: 0;
    width: 85px;
    height: 85px;
}

.Dialogs_black-screen{
	@include transAnimation;
	@include fade-in(0.6s);
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	z-index: $zIndex_black_screen;
	will-change: opacity;
	opacity: 0;
}

.Dialogs-taiwan{
	@include fade-in;
	position: absolute;
	width: 1106px;
	height: 1080px;
	background-image: url('../images/taiwan.png');
	background-size: 1106px 1080px;
	background-repeat: no-repeat;
	transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	top:$tw_top;
	left: $tw_left;
	z-index: $zIndex_tw_origin;
}

.Dialogs-taiwan-pos{
	position: absolute;
    content: "";
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: white;
    &.is-selected{
    	&:before{
    		@include fade-in;
    		content: "";
    		display: block;
    		background-image: url('../images/coin-pos.png');
    		background-size: cover;
    		width: 195px;
    		height: 195px;
    		position: absolute;
    		left: -90px;
    		top: -90px;
    		z-index: 1;
    	}
    }
}