$App_width:1920px;
$App_height:1080px;
$App_header_height:80px;
$App_content_height:780px;
$App_nav_width:500px;
$App_home_nav_top:889px;
$App_home_nav_height:auto;

$tw_top: $App_header_height + 70px;
$tw_left: $App_nav_width + 100px; 

$font_size_content:24px;
$font_nav_item:42px;