@import 'styles/_zIndex.scss';
@import 'styles/_config.scss';
@import 'styles/_mixins.scss';
@import 'styles/_color.scss';

.Dialog{
	@include transAnimation;
	position: absolute;
	width: $App_width;
	height: 500px;
	top:25%;
	right:0px;
	z-index: $zIndex_dialog;
	opacity:0;
	will-change: opacity;
	opacity: 0;
	&.is-open{
		opacity: 1;
	}
}

.Dialog-content{
	background-color: $color_dialog_bg;
	height: 100%;
	margin-left: 38%;
	margin-right: 60px;
}

.Dialog-close-btn {
    position: absolute;
    top: -30px;
    right: 30px;
    width: 80px;
    height: 80px;
    background-color: black;
    cursor: pointer;
    z-index: $zIndex_top;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
